<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post" class="my-4 form-inline">
        <label for="username" class="sr-only">Username</label>
        <input required placeholder="Username" type="text" name="username" id="username" class="col mr-2">
        <label for="password" class="sr-only">Password</label>
        <input required placeholder="Password" type="password" name="password" id="password" class="col mr-2">
        <label for="nameTier" class="sr-only">Tier</label>
        <select required name="nameTier" id="nameTier" class="col mr-2">
            <option value="tier1">Tier 1</option>
            <option value="tier2">Tier 2</option>
        </select>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</body>
</html>
